/*Fonts*/
@font-face {
  font-family: "headerFont";
  src: url("../src/Components/Fonts/dejavu-serif-fontfacekit/web-fonts/dejavuserif_regular_macroman/DejaVuSerif-webfont.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "tituloPagina";
  src: url(../src/Components/Fonts/England-Hand-DB-fontfacekit/webfonts/englandhanddb_regular_macroman/england-webfont.woff) format("woff");
  font-display: swap;
}
@font-face {
  font-family: "vintage";
  src: url(../src/Components/Fonts/im-fell-english-pro-fontfacekit/webFonts/imfellenglishpro_regular_macroman/FeENrm28C-webfont.woff) format("woff");
  font-display: swap;
}
@font-face {
  font-family: "vintageItalic";
  src: url(../src/Components/Fonts/im-fell-english-pro-fontfacekit/webFonts/imfellenglishpro_italic_macroman/FeENit27C-webfont.woff) format("woff");
  font-display: swap;
}
@font-face {
  font-family: "maquina";
  src: url("../src/Components/Fonts/Kingthings-Trypewriter-fontfacekit/web_fonts/kingthingstrypewriter_regular_macroman/Kingthings_Trypewriter_2-webfont.woff") format("woff");
  font-display: swap;
}
/*Variables*/
#header .menu ul, #header .menu {
  justify-content: end;
}

#header {
  position: sticky;
  top: 0px;
  width: 100%;
  z-index: 1;
  background-image: linear-gradient(to bottom, black, #202020);
}
#header .navbar-nav .dropdown-menu {
  position: static;
}
@media screen and (min-width: 991px) {
  #header .navbar-nav .dropdown-menu {
    position: static;
    margin-left: -80px;
  }
}
/* Header */
#header .titulo {
  font-family: "tituloPagina";
  font-size: 2em;
  text-align: left;
  display: flex;
  align-items: center;
}
#header .menu ul {
  list-style: none;
  font-size: 0;
}
#header .menu ul ul {
  position: absolute;
  display: none;
}
#header .menu ul ul li {
  display: block;
}
#header .menu ul li {
  font-family: "headerFont";
  color: black;
  position: relative;
  font-size: 16px;
}
#header .menu ul li:hover ul {
  display: block;
  position: absolute;
}
#header .menu ul li a {
  font-family: "headerFont";
  text-decoration: none;
}
.CartWidget {
  background-color: rgba(255, 255, 255, 0);
  color: rgb(255, 255, 255);
  border: none;
  font-size: 30px;
  padding-right: 270px;
  display: flex;
  align-items: center;
}

/* Footer */
#footer {
  background-color: black;
  padding: 1em;
  color: white;
  background-image: linear-gradient(to top, black, #202020);
}
#footer a {
  color: white;
  text-decoration: none;
}
#footer .credits {
  font-size: 0.7em;
}
#footer .redes {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  letter-spacing: 1em;
}

#footerSignUp {
  background-color: black;
  padding: 1em;
  color: white;
  background-image: linear-gradient(to top, black, #202020);
  margin-top: 150px;
}
#footerSignUp a {
  color: white;
  text-decoration: none;
}
#footerSignUp .credits {
  font-size: 0.7em;
}
#footerSignUp .redes {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  letter-spacing: 1em;
}
/* Body */
.body {
  color: black;
  background-color: white;
}
/* Inicio */
.mainIndex {
  text-align: center;
}
.mainIndex h1 {
  font-family: "vintage";
  padding-top: 1em;
}
.mainIndex p {
  font-family: "vintageItalic";
  font-size: 1.5em;
}
.mainIndex h4 {
  font-size: 3em;
}
.mainIndex .sedes {
  font-family: "vintageItalic";
}

@media screen and (max-width: 480px) {
  .videoC {
    width: 70%;
    height: auto;
  }
}

/* Productos */
.camarasTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comprar {
  text-align: right;
  font-size: 2em;
}

.camaras .tituloProductos {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
}
.camaras .pagar {
  display: flex;
  justify-content: space-between;
}
.camaras #camera1 {
  padding: 2em;
}
@media only screen and (max-width: 480px) {
  .comprar {
    font-size: 1em;
  }
}
.camaras #camera1 .detallesC {
  text-decoration: underline;
}
.camaras #camera2 {
  padding: 2em;
}
@media only screen and (max-width: 480px) {
  .camaras #camera2 .camarasTop .comprar {
    font-size: 1em;
  }
}
.camaras #camera2 .detallesC {
  text-decoration: underline;
}
.camaras #camera3 {
  padding: 2em;
}
@media only screen and (max-width: 480px) {
  .camaras #camera3 .camarasTop .comprar {
    font-size: 1em;
  }
}
.camaras .detallesC {
  text-decoration: underline;
}

/* Contacto */
main .talk {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}
main .contacto {
  padding: 3em;
  display: flex;
  justify-content: center;
}
main .contactoDatos {
  display: flex;
  justify-content: center;
  display: grid;
  grid-template-columns: 50%;
  grid-template-rows: 90px 500px;
  gap: 3em;
}
main .contactoDatos .mapa {
  display: flex;
  justify-content: center;
}
main .contactoDatos .mapa .mapa2 {
  transition: all 1.5s;
}
main .contactoDatos .mapa .mapa2:hover {
  transform: scale(1.1);
  box-shadow: 28px 24px 27px 0px rgba(0, 0, 0, 0.52);
  -webkit-box-shadow: 28px 24px 27px 0px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: 28px 24px 27px 0px rgba(0, 0, 0, 0.52);
}
main .contactoDatos .telefonos {
  font-family: "Noto Sans Mono", monospace;
  font-size: 1em;
  text-align: center;
  border-left: 2px solid black;
  border-right: 2px solid black;
  transition: all 1.5s;
}
main .contactoDatos .telefonos:hover {
  transform: scale(1.5);
  background-color: white;
}

/* AboutUs */

.barritas {
  color: white;
}
.nosotrosFondo {
  background-color: black;
  padding: 3em;
  background-image: url("../public/Camara-fondo.jpg");
  background-size: cover;
  background-attachment: fixed;
}
@media screen and (max-width: 480px) {
  .nosotrosFondo {
    background-image: url("../public/Camara-fondo.jpg");
    background-size: 480px;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}
.nosotrosFondo section .frase {
  font-size: 3em;
  color: whitesmoke;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.nosotrosFondo section .fraseAutor {
  font-size: 1em;
  color: whitesmoke;
}
.nosotrosFondo section .nosotrosT {
  padding: 1em;
  font-family: "maquina";
  font-size: 2em;
  color: whitesmoke;
  text-align: center;
  text-decoration: underline;
}
.nosotrosFondo section .nosotrosP {
  font-family: "maquina";
  color: whitesmoke;
  text-align: justify;
}

/* Login y Sign Up */

.user {
  display: flex;
  justify-content: center;
}

#bienvenido {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
}

.iniciarS {
  padding: 2em;
}
.iniciarS .formulario {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.iniciarS .formulario h1 {
  font-size: 1em;
}
.iniciarS .formulario .signUp a {
  color: black;
}

.createA {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.register {
  padding-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.register .sexo {
  display: flex;
  justify-content: space-around;
}

/* Carrito */

.productoEnCarrito {
  border-left: 5px solid black;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  margin: 5px 0;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
}

.boton-eliminar {
  background-color: rgba(255, 255, 255, 0);
  color: black;
  border: none;
  font-size: 20px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
  font-family: "Open Sans", sans-serif;
}

.contenedor {
  width: 90%;
  max-width: 1000px;
  margin: 20px auto;
}

.contenedor article {
  line-height: 28px;
}

.contenedor article h1 {
  font-size: 30px;
  text-align: left;
  padding: 50px 0;
}

.contenedor article p {
  margin-bottom: 20px;
}

.contenedor article .btn-abrir-popup {
  padding: 0 20px;
  margin-bottom: 20px;
  height: 40px;
  line-height: 40px;
  border: 1px black;
  color: black;
  background: rgba(255, 255, 255, 0);
  border-radius: 3px;
  font-family: "Montserrat", sans-serif;
  font-size: 3em;
  cursor: pointer;
  transition: 0.3s ease all;
  cursor: pointer;
}

.contenedor article .btn-abrir-popup:hover {
  background-color: rgba(250, 250, 250, 0);
  color: black;
  border: 1px black;
  font-size: 60px;
}

.boton {
  position: fixed;
  bottom: 40px;
  right: 40px;
  transition: all 300ms ease 0ms;
  z-index: 99;
}

@media only screen and (max-width: 600px) {
  .boton {
    font-size: 1em;
    padding: 12px 20px;
    bottom: 20px;
    right: 20px;
  }
}

/* ------------------------- */
/* POPUP */
/* ------------------------- */
.overlay {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  visibility: hidden;
}

.overlay.active {
  visibility: visible;
}

.popup {
  background: #F8F8F8;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  font-family: "Montserrat", sans-serif;
  padding: 20px;
  text-align: center;
  width: 600px;
  transition: 0.3s ease all;
  transform: scale(0.7);
  opacity: 0;
}

.popup .btn-cerrar-popup {
  font-size: 16px;
  line-height: 16px;
  display: block;
  text-align: right;
  transition: 0.3s ease all;
  color: #BBBBBB;
}

.popup .btn-cerrar-popup:hover {
  color: #000;
}

.popup h3 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 10px;
  opacity: 0;
}

.popup h4 {
  font-size: 26px;
  font-weight: 300;
  margin-bottom: 40px;
  opacity: 0;
}

.popup form .contenedor-inputs {
  opacity: 0;
}

.popup form .contenedor-inputs input {
  width: 100%;
  margin-bottom: 20px;
  height: 52px;
  font-size: 18px;
  line-height: 52px;
  text-align: center;
  border: 1px solid #BBBBBB;
}

.popup form .btn-submit {
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
  border: none;
  color: #fff;
  background: #5E7DE3;
  border-radius: 3px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease all;
}

.popup form .btn-submit:hover {
  background: rgba(94, 125, 227, 0.9);
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup.active {
  transform: scale(1);
  opacity: 1;
}

.popup.active h3 {
  animation: entradaTitulo 0.8s ease 0.5s forwards;
}

.popup.active h4 {
  animation: entradaSubtitulo 0.8s ease 0.5s forwards;
}

.popup.active .contenedor-inputs {
  animation: entradaInputs 1s linear 1s forwards;
}

@keyframes entradaTitulo {
  from {
    opacity: 0;
    transform: translateY(-25px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes entradaSubtitulo {
  from {
    opacity: 0;
    transform: translateY(25px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes entradaInputs {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Loading */

.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: 1s all;
  opacity: 0;
}
.loading.show {
  opacity: 1;
}
.loading .spin {
  border: 3px solid hsla(185, 100%, 62%, 0.2);
  border-top-color: #0066ff;
  border-radius: 50%;
  width: 3em;
  height: 3em;
  animation: spin 1s linear infinite;
}
@keyframes spin {
to {
  transform: rotate(360deg);
}
}